<a href="/tasks/<%= @task.id %>/edit">Edit:</a> <%= @task.name %></br>

<form action="/tasks/<%=@task.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="delete">
</form>