<h1>Login below:</h1>

<form action='/users' method="POST">
  <label>Email:</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password">
  <br/>
  <input type="submit" value="login">
</form>